<mat-nav-list class="p-2">
  <div class="sidenav-brand">
    <img [src]="mylogo" alt="logo-example" class="sidenav-brand__logo" />
    <span class="title__logo mt-1">Ice Cream</span>
  </div>
  <a class="link mb-1" mat-list-item routerLinkActive="list-item-active-link">
    <mat-icon class="link__icon">chat</mat-icon
    ><span class="link__text">Consultas</span>
  </a>
  <a class="link mb-1" mat-list-item routerLinkActive="list-item-active-link">
    <mat-icon class="link__icon">chat</mat-icon
    ><span class="link__text">Consultas</span>
  </a>
</mat-nav-list>
