.link {
  border-radius: 3rem;
  color: $color-primary-white !important;
  width: 100%;
  background-color: $color-tertiary;
  &__icon {
    @include margin-left-right(2rem, 2rem);
  }
}

.link:hover {
  transform: translateX(10px);
}

.list-item-active-link {
  background-color: $color-primary !important;
  color: $color-primary !important;
  border-radius: 3rem;
}
