.header {
  padding: 5rem 10rem !important;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary-light-1;
  &__title {
    color: $color-primary-black;
    font-size: 30;
    font-family: Quicksand;
    font-weight: bold;
  }
}
